chromedriver
chromedriver-binary
urllib3
beautifulsoup4
requests
futures
lxml
google_auth_oauthlib
google-api-python-client
google-auth-httplib2
get-chrome-driver
functions-framework==3.*
fake-useragent==0.1.11
selenium==3.13.0